/* ----------BASE ELEMENT STYLES--------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu Condensed", sans-serif, arial;
  line-height: 1.6;
  color: #7f7f7f;
}

p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

h1 {
  letter-spacing: 1.5px;
  font-weight: 900;
}

h1,
h2,
h3 {
  color: #4a4a4a;
}

h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* ----------BASE LAYOUT STYLES--------------- */

/* Navigation */

.name {
  font-size: 1.7em;
  margin: 0;
  text-align: center;
}

.main-nav {
  margin-top: 10px;
}

.name a,
.main-nav a {
  /* border: 1px solid red; */
  display: block;
  text-align: center;
  padding: 10px 15px;
  color: #4a4a4a;
  background-color: #ffffff;
}

.main-nav a {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.3em;
}

.main-nav a:hover,
.foot-nav a:hover,
.rightFoot a:hover {
  color: #afafaf;
}

.intro,
.name a {
  background: #f1f1f1;
}

.profile {
  width: 70%;
  display: block;
  margin: 25px auto;
}

/* Layout Containers */

.main-header {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.main-footer,
.about-me {
  text-align: center;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.portafolio h2,
.skills h2,
h3 {
  text-align: center;
  font-size: 1.5em;
}

.portafolio h2,
.skills h2 {
  margin-bottom: 1.6em;
  background: #f1f1f1;
}

.portafolio h3 {
  padding-top: 0.8em;
}

.portafolio p {
  text-align: center;
  padding: 0px 1em;
}

.project h3 {
  color: #d07a67;
}

.main-footer {
  background: #f1f1f1;
}

.main-footer h2 {
  padding: 3em 0 0.8em 0;
}

.information {
  padding-bottom: 2em;
}

.information p {
  margin: 10px 0;
}

.information strong {
  margin-left: 0.3em;
}

.foot {
  overflow: hidden;
  padding: 1.4em 0;
  border-top: 1px solid #d0d0d0;
}

.rightFoot a {
  color: #4a4a4a;
}

.leftFoot {
  width: 50%;
  float: left;
  text-align: left;
  font-size: 1em;
}

.rightFoot {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 1em;
}

.linksFoot {
  display: none;
}

.skills p {
  text-align: center;
}

.languages img {
  width: 60px;
  margin: 30px 12px;
}

.languages {
  text-align: center;
}

/* ----------MEDIA QUERIES--------------- */

@media (min-width: 768px) {
  /* body {
    background-color: red;
  } */

  .container {
    padding-left: 1.4em;
    padding-right: 1.4em;
  }

  .main-nav {
    text-align: center;
  }

  .main-nav li {
    display: inline-block;
    margin: 0 0.5em;
  }

  .main-nav a {
    background: #f1f1f1;
  }

  .main-header {
    box-shadow: -11px 27px 12px -31px rgba(0, 0, 0, 0.8);
  }

  .profile {
    float: right;
    width: 35%;
    margin: 0 0 0 20px;
  }

  .about-me {
    margin-top: 3em;
    padding-bottom: 3em;
    text-align: left;
  }

  .portafolio {
    padding-top: 2.5em;
  }

  .project {
    float: left;
    width: 50%;
    padding: 0.4em;
  }

  .main-footer h2 {
    padding-top: 1.5em;
  }

  .main-footer p {
    width: 80%;
    margin: 1.5em auto;
  }

  .information p {
    margin: 0.8em auto;
  }

  .rightFoot {
    display: none;
  }

  .linksFoot {
    display: block;
  }

  .foot-nav {
    float: right;
  }

  .foot-nav li {
    display: inline-block;
  }

  .foot-nav a {
    color: #4a4a4a;
    padding: 0 1em;
    text-transform: uppercase;
    font-weight: bold;
  }

  .foot {
    padding: 1em 0 3em;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 3.5em;
    padding-right: 3.5em;
    max-width: 1150px;
    margin: 0 auto;
  }

  .name {
    float: left;
  }

  .main-nav {
    text-align: right;
  }

  .main-header {
    box-shadow: -11px 21px 14px -25px rgba(0, 0, 0, 0.8);
  }

  .project {
    padding: 0 0.5em;
  }

  .project {
    width: 33.33%;
  }

  .skills h2 {
    margin-top: 2em;
  }

  .about-me p {
    font-size: 1.5em;
  }

  .main-footer p {
    width: 60%;
  }

  .foot {
    padding: 1em 0 1.5em;
  }
}
